@font-face {
    font-family: 'existencelight';
    src: url('../fonts/existence-light.eot');
    src: url('../fonts/existence-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/existence-light.woff2') format('woff2'),
         url('../fonts/existence-light.woff') format('woff'),
         url('../fonts/existence-light.ttf') format('truetype'),
         url('../fonts/existence-light.svg#existencelight') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
  margin: 0 auto;
  padding:0;
  ul{
  list-style-type: none;
  }
  span{
    color: #9F449B;
  }
}

//HEADER  zmniejszych marginesy, break point, zmniejszyc czcionki

header{
  width: 100%;
  height: 0;
  background-image: url("../img/img-bg.jpg");
  background-repeat: no-repeat;
  background-size:100%;
  margin: 0 auto;
  padding-bottom: 58%;

}
.main-width{
  margin: 0 auto;
  width: 70%;
  border:1px solid yellow;

}
.header-text{
  color:white;
  font-family: 'Existencelight';
  font-size: 50px;
  text-align: center;
  border: 1px solid yellow;
  margin-right: 5%;
  margin-left: 5%;
    .logo{
      margin-top:6%;
      margin-bottom: 5%;
    }

  h1{
    font-size: 35px;
    margin-bottom: 2%;
    border: 1px solid green;
  }
  p{
    font-size: 20px;
    margin-bottom: 5%;
  }
}

  .menu-icons{
    width: 100%;
    .scroll{
      border: 1px solid blue;
      width: 100%;
      text-align: center;
       .arrow-bg{
          border: 1px solid red;
          width:8%;
          height: 0;
          margin: 0 auto;
          background-image: url("../img/arrow.png");
          background-size:90% auto;
          background-repeat: no-repeat;
          background-position: center center;
          padding-bottom:8%;
       }
       .arrow-bg:hover{
        background-image: url("../img/arrow-hover.png");
       }
    }
  .flexbox {
    display: flex;
    flex-flow: row;
    border: 1px solid yellow;
    justify-content:space-between;
      li{
        flex:1 1 auto;
          .bottom{
             margin-top:120%;
          }
      }

    .icon-shape{

      border: 1px solid blue;
      background-size:82% auto;
      background-position: center center;
      background-image: url("../img/shape-bg.png");
      background-repeat: no-repeat;
      // width: 90%;
      padding-bottom:25%;
      // margin:0 auto;
      }

    .icon-shape:hover{
      background-image: url("../img/shape-hover.png");
    }

      .icon{
        border: 1px solid yellow;
        width: 100%;
          img{
            width: 30%;
            padding-top:22%;
            padding-left:34%;
            border: 1px solid red;
          }

    }
  }
}

//MENU
nav{
  margin: 0 auto;
  width: 70%;
  border:1px solid yellow;
  color:#8D8D8D;
  font-family: 'Existencelight';
  height: 50px;
  
  #sticky-menu{
    display: flex;
    flex-flow: row;
    border: 1px solid yellow;
    justify-content:space-between;
    margin-left: 2%;
    margin-right: 2%;

  .logo{
    
    border: 1px solid yellow;
    font-size: 25px;
    border: 1px solid green;
    span{
    color: #9F449B;
    }
  }
  .menu{
    font-size: 14px;
    text-transform: uppercase;
    border: 1px solid brown;

    ul{
      border: 1px solid blue;
      padding-top:10px;

      li{
        display: inline;
        border: 1px solid yellow;
        margin-left: 15px;
      }
      li:hover{
        color: #9F449B;
      }
    }
  }

  }
  .sticky{
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    margin:0 auto;
    width: 100%
    }
}


//ICON BOX ustawienie background fixed, bo wyjezdza poza  tekst

.box-text{
  width: 100%;
  height: 0;
  background-color:#EEEEEE;
  color:#8D8D8D;
  font-family: 'Existencelight';
  padding-bottom:50%;
  text-align: center;

  .main-width{
    margin: 0 auto;
    width: 70%;
    border:1px solid yellow;

    .flex-box{
      display: flex;
      flex-direction:row;
      border: 1px solid yellow;
      justify-content:space-around;

        li{
          flex:1 1 auto;
          padding-top:10%;
        }
    }
  }
}

.icon-box{
  border: 1px solid blue;
  padding-bottom: 10%;
  padding-top:10%;
  .one-box {
    border: 1px solid green;
    .img-box1{
      border: 1px solid yellow;
      background-image: url("../img/shape-heart.png");
      background-size:60% auto;
      background-repeat: no-repeat;
      background-position: center center;
      padding-bottom:90%;
    }
    .img-box2{
      border: 1px solid yellow;
      background-image: url("../img/shape-diamond.png");
      background-size:60% auto;
      background-repeat: no-repeat;
      background-position: center center;
      padding-bottom:90%;
    }
    .img-box3{
      border: 1px solid yellow;
      background-image: url("../img/shape-cup.png");
      background-size:60% auto;
      background-repeat: no-repeat;
      background-position: center center;
      padding-bottom:90%;
    }
    .img-box4{
      border: 1px solid yellow;
      background-image: url("../img/shape-phone.png");
      background-size:60% auto;
      background-repeat: no-repeat;
      background-position: center center;
      padding-bottom:90%;
    }
  }
}


//SECTION ABOUT US - ustawic jako columny we flexbox

.about-us{
  font-family: 'Existencelight';
 .main-width{
    margin: 0 auto;
    width: 70%;
    border:1px solid yellow;
   .head{
    padding-bottom: 2%;
    padding-top:2%;
    text-align: center;
    font-size: 30px;
      span{
      color: #9F449B;
      }

   }
   .conteiner{
      display: flex;
      flex-direction:row;
      border: 1px solid yellow;
      justify-content:space-around;
     .desktop-img{
      flex:1 1 auto;
      padding-top: 5%;
      width: 100%;
      img{
        width: 97%;
      }
     }
     .desktop-text{
      width: 76%;
      padding-top: 8%;
      padding-bottom: 8%;
     }
    }
   .desktop-button{
    padding-top:10px;
      p{
        border:1px black solid;
        display: inline;
        padding-bottom: 10px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top:10px;
        border-radius: 5px;
        background-color: #9F449B;
        color: white;

      }
    }
  }   
}

//BACKGROUND SECTION FIRST

.background-first{
  margin: 0 auto;
  border:1px solid yellow;
    .background-box{
        background-image: url("../img/backgound-section.png");
        background-repeat: no-repeat;
        width: 100%;
        height: 0;
        background-size:cover;
        background-position:center center;
        margin: 0 auto;
        padding-bottom: 31%;
        text-align: center;
        background-attachment: fixed;

      .backgraund-image{
        
        img{
         padding-top: 5%;
         width: 9%;
        }

      }
      .background-text{
        width: 100%;
        text-align: center;
        font-size: 15px;
        color: white;
        font-family: 'Existencelight';
        font-size: 30px;        

      }
    }
}
// SECTION OUR TEAM

.our-team{
  font-family: 'Existencelight';
  .main-width{
    margin: 0 auto;
    width: 70%;
    border:1px solid yellow;
      .head{
        padding-bottom: 2%;
        padding-top:2%;
        text-align: center;
        font-size: 30px;
        border: 1px solid green;
          span{
          color: #9F449B;
        }
      }
      .slide-team{
      text-align: center;
      border: 1px solid green;
      }
      .team{
        display: flex;
        flex-direction:row;
        border: 1px solid yellow;
        justify-content:space-around;
        margin: 0 auto;

        .person{
          flex:1 1 auto;
          padding-top: 5%;
          width: 100%;
          text-align: center;
          border: 1px solid green;
          padding-bottom: 2%;
          padding-top: 2%;
            .person-img{
              text-align: center;
              img{
                width: 200px;
                height: 200px;
                background-color:gray;
                border-radius:100px;
              }
            }
            .person-desc
              strong{
                text-transform:uppercase;
              }
          }
      }
  }
}
// SECTION  OUR SKILLS
.our-skills{
  font-family: 'Existencelight';
  .main-width{
    margin: 0 auto;
    width: 70%;
    border:1px solid yellow;
      .head{
        padding-bottom: 2%;
        padding-top:2%;
        text-align: center;
        font-size: 30px;
        border: 1px solid green;
          span{
          color: #9F449B;
        }
      }
      .continter{
      border: 1px solid green;
      text-transform:uppercase;
      padding-top:10%;
      padding-bottom:10%;
        .skills{
          display: flex;
          flex-direction:row;
          border: 1px solid yellow;
          justify-content:space-around;
          padding-bottom: 2%;

          li{
            flex:1 1 auto;
            padding-top: 5%;
            width: 100%;
            border: 1px solid green;
            padding: 5%;

            .content-skill{
              padding-bottom:4%;
              padding-top:4%;

              .topic{
                float: left;
                color: black;
                display:inline-block;
              }
              .skill{
                color: gray;
                float: right;
                display:inline-block;
              }
            }
              .status-bg{
                width: 100%;
                height: 15px;
                background-color:lightgray;
                  .status-web{
                    width: 90%;
                    height: 15px;
                    background-color:#9F449B;
                  }
                  .status-graf{
                    width: 70%;
                    height: 15px;
                    background-color:#9F449B;
                  }
                  .status-html{
                    width: 75%;
                    height: 15px;
                    background-color:#9F449B;
                  }
                  .status-ui{
                    width: 85%;
                    height: 15px;
                    background-color:#9F449B;
                  }
              }
          }
        }
      }
  }
}



//BACKGROUND SECTION SECOND

.background-second{
  margin: 0 auto;
  border:1px solid yellow;
    .background-box{
        background-image: url("../img/backgound-section.png");
        background-repeat: no-repeat;
        width: 100%;
        height: 0;
        background-size:cover;
        background-position:center center;
        margin: 0 auto;
        padding-bottom: 31%;
        text-align: center;
        background-attachment: fixed;


      .backgraund-image{
        img{
         padding-top: 5%;
         width: 9%;
        }

      }
      .background-text{
        width: 100%;
        text-align: center;
        font-size: 15px;
        color: white;
        font-family: 'Existencelight';
        font-size: 30px;

      }
    }
}
//PORTFOLIO
.portfolio{
  font-family: 'Existencelight';
  .main-width{
    margin: 0 auto;
    width: 70%;
    border:1px solid yellow;
      .head{
        padding-bottom: 2%;
        padding-top:2%;
        text-align: center;
        font-size: 30px;
        border: 1px solid green;
          span{
          color: #9F449B;
          }
        }
      .buttons, .watch-more{
        text-align: center;
        text-transform: uppercase;
        padding: 2%;
        span{
          border:1px black solid;
          display: inline;
          padding-bottom: 10px;
          padding-left: 30px;
          padding-right: 30px;
          padding-top:10px;
          border-radius: 5px;
          background-color: #9F449B;
          color: white;
        }
      }
      .watch-more{
        text-transform: lowercase;
      }
  }
  .portfolio-boxs{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid yellow;
    justify-content:space-around;
    margin: 0 auto;
    
    .portfolio-box{
      text-align: center;
      flex:1 1 auto;
      border: 1px solid red;
      width: 100%;
      padding-bottom: 33%;

       .image{
        width: 50%;
        height: 0;
       }
       .title{

       }
       .description{

       }
    }
  }
}








